---
import "../styles/main.css";
import { Image } from "astro:assets";
import videoSlide from "../assets/images/video-slide.png";
import wgmScr from "../assets/images/wgm-20251102.png";
import earlyInspo from "../assets/images/morgen-ruff-capstone-project-inspiration.png";
import moodboard from "../assets/images/morgen-ruff-capstone-moodboard.png";
import typeColor from "../assets/images/wgm-type-color-nov-2025-v3.png";
import wireHome from "../assets/images/wire-homepage-20251102.png";
import wireAbout from "../assets/images/wire-about-20251102.png";
import hifiHome from "../assets/images/homepage-20251102.png";
import hifiAbout from "../assets/images/about-20251102.png";
import hifiVisit from "../assets/images/visit-20251102.png";
import hifiNews from "../assets/images/news & events-20251102.png";
---

<div id="container">
    <main>
        <div class="intro">
            <div class="intro-header">
                <p class="intro-title">
                    A New Internet Home for the Weavers Guild of Minnesota
                </p>
                <p class="intro-name">Morgen Ruff</p>
                <p class="intro-program">MCAD MA in Graphic &amp; Web Design</p>
                <p class="intro-date">Fall 2025</p>
            </div>
            <div class="intro-text">
                <p class="hook">
                    A new internet home for the Weavers Guild of Minnesota
                    (WGM), one of the state’s longest-running arts nonprofits,
                    founded in 1940 by a group of textile weavers led by Hilma
                    Berglund. Offering robust, year-round classes & workshops on
                    many handmade textile weaving, spinning, and dyeing methods,
                    WGM &mdash; and organizations like it all over the country
                    &mdash; is a critical lifeline in the fight against
                    industrial textile processes and consumption patterns that
                    play a large part in advancing climate crisis. This project
                    aims to represent, via the web, the full breadth and depth
                    of WGM’s vital work preserving and advancing the arts of
                    weaving, spinning, and dyeing. Through engaging, welcoming
                    design, a modern, resilient tech stack based on Wordpress,
                    and a user-friendly, accessible approach to communicating
                    information from WGM to its present and future audiences,
                    this new website will lay a foundation for WGM’s next decade
                    as the organization navigates an exciting period of growth
                    and expansion.
                </p>
            </div>
        </div>
        <div class="anchors">
            <ul>
                <li><a href="#problem">Problem</a></li>
                <li><a href="#concept">Concept</a></li>
                <li><a href="#research">Research</a></li>
                <li><a href="#process">Process</a></li>
                <li><a href="#walkthrough">Walkthrough</a></li>
                <li><a href="#references">References</a></li>
            </ul>
        </div>
        <div class="problem" id="problem">
            <p class="title">Problem</p>
            <div class="images">
                <Image
                    src={wgmScr}
                    alt="Screenshot of the Weavers Guild of Minnesota homepage."
                />
            </div>
            <div class="text">
                <p class="problem-description">
                    Web presence is vital for any business today — people have
                    to be able to find you to patronize you. But it’s especially
                    important for arts nonprofits, which often lack funding for
                    major advertising campaigns or staff bandwidth to create
                    effective partnerships with large organizations. Their site
                    and social media accounts are typically the only
                    public-facing passive presence these organizations have.
                    Moreover, due to the US political environment of the moment
                    (late 2025), arts nonprofits across the country are
                    experiencing budget shortfalls and targeting due to
                    ideological differences. As an arts organization, finding
                    your audience and letting your audience find you is both
                    more difficult and more important than ever. The big
                    question: how to best represent a vital organization in its
                    community today, provide a robust experience that provides
                    the information existing users expect, while also attracting
                    and retaining new audiences?
                </p>
                <p class="problem-description">
                    In its current and soon to be former state, the WGM site
                    works as an average user would expect, but feels outdated
                    and sluggish, text-heavy and broadly undynamic. The site
                    lacks modern features that are hallmarks of web experiences
                    today: evocative images, seamless navigation, intuitive user
                    experience, lovely and unique typography, vibrant color, and
                    focus on accessibility for all users. Crucially, the current
                    site also lacks any kind of e-commerce functionality, which
                    likely substantially affects WGM’s bottom line. Finally, an
                    important consideration is that WGM wants to continue using
                    the Wordpress CMS as core staff are well-trained in using
                    it.
                </p>
            </div>
        </div>
        <div class="concept" id="concept">
            <p class="title">Concept</p>
            <div class="images">
                <Image src={earlyInspo} alt="Bright inspiration moodboard." />
                <Image src={moodboard} alt="Restrained WGM moodboard." />
            </div>
            <div class="text">
                <p class="concept-description">
                    This project’s goal is to refresh and enliven WGM’s web
                    presence, in the process doing justice to and appropriately
                    representing the organization’s community work. Without
                    doubt, we need a new brand color palette and a new suite of
                    typography based in personality and legibility — in both
                    cases, we should strive for fun, approachability, and
                    choices that have staying power. WGM has plenty of
                    visually-interesting work going on every day, so we also
                    need much improved imagery across the site, in terms of both
                    quality and quantity.
                </p>
            </div>
        </div>
        <div class="data" id="research">
            <p class="title">Collected Data & Research</p>
            <div class="images">
                <!-- <Image src={} alt="." /> -->
            </div>
            <div class="text">
                <p class="data-description">
                    Since this project is not conceptual — in the sense that
                    it’s a client-based project with a real-world end goal of
                    live website deployment — my project research mainly focused
                    on similar, recently-refreshed or -launched websites in
                    roughly the same business space, along with nuts-and-bolts
                    web design & development resources to improve things like
                    accessibility, reliability, security, and performance.
                </p>
                <p class="data-description">
                    Throughout the project, I worked directly with two key
                    stakeholders at WGM — board chair Rachel Holdgrafer and
                    education manager Betsy Konop. Through a variety of meetings
                    and design sessions, both provided perspective, ideas,
                    testing, feedback, and collaboration as the project
                    progressed, allowing me to create better design work more
                    aligned with the organization’s mission and goals.
                </p>
                <p class="data-description">
                    Feedback and suggestions consisted of:
                    <ul>
                        <li>
                            color & typography feedback, particularly related to
                            readability and existing WGM audience demographics
                        </li>
                        <li>
                            information-related input — for example, which
                            pieces of information fit within an ideal hierarchy
                            when building the site, for both existing and new
                            users
                        </li>
                        <li>
                            structure feedback - when starting, we knew we
                            wanted to re-organize the site because the existing
                            version had gotten messy, but since the client knows
                            their business best, they advised me on a good
                            strategy to clean things up and make the site more
                            generally legible
                        </li>
                    </ul>
                </p>
                <p class="data-description">
                    See references & research sources at the end of this page.
                </p>
            </div>
        </div>
        <div class="process" id="process">
            <p class="title">Process</p>
            <div class="images">
                <Image src={wireHome} alt="Wireframe of a homepage." />
                <Image
                    src={hifiHome}
                    alt="Screenshot of the new WGM homepage."
                />
                <Image
                    src={hifiAbout}
                    alt="Screenshot of the new WGM homepage."
                />
                <Image
                    src={hifiVisit}
                    alt="Screenshot of the new WGM homepage."
                />
            </div>
            <div class="text">
                <p class="process-description">
                    This project started in a kind of gut-feeling place: the
                    knowledge that something about the WGM website was wrong,
                    but not so much what to do about it. An organization like
                    WGM does not have a lot of excess budget every year, as a
                    small arts nonprofit they work really hard to maximize the
                    potential of every dollar they earn. So we needed an
                    extremely budget-friendly new website, something that could
                    serve a much greater purpose than the financial resources
                    put into it.
                </p>
                <p class="process-description">
                    Conceptually, we sought to have the website feel very
                    contemporary, yet have some staying power so we don’t have
                    to start from scratch again in five years. We needed a site
                    that is very user-friendly across demographics. Finally, we
                    needed a site that reflects the crafts taught at the Guild
                    while instilling a sense of joy and warmth.
                </p>
                <p class="process-description">
                    First, I spent some time gathering all of the content (text,
                    images, video, etc.) on the current WGM site, and put it all
                    into a <a
                        href="https://docs.google.com/document/d/1NferbwDcXmgKbl5hn4y4Nmx7NyS1naMfTcVSP28Ll5k/edit?usp=sharing"
                        >very long document</a
                    >. From there, I assessed the state of the text content and
                    in collaboration with my partners at WGM, set about
                    re-organizing the site and condensing disparate information
                    down into more meaningful groups, thereby setting up a
                    situation where the new site could have fewer — but
                    individually richer — pages. This makes navigating the site
                    much easier. We shifted from more academic language to more
                    action-oriented wording to describe things one can do with
                    the new site, simplifying the experience significantly.
                </p>
                <p class="process-description">
                    Then, onto new branding. As mentioned before, WGM’s new
                    color palette is based on colors commonly found in natural
                    dyeing processes, originating from native-to-MN dye plants
                    like madder, indigo, black walnut, nettle, and goldenrod.
                    Our aim with this new palette is to be rooted in this place
                    we call home while providing the user with a relaxing,
                    beautiful experience that might feel close to their own
                    weaving, spinning, and/or dyeing practice.
                </p>
                <p class="process-description">
                    In terms of typography, in collaboration we chose to break
                    up large headings and copy. The lovely, expressive serif
                    typeface Violeta by Javier Quintana Godoy of <a
                        href="https://quintana-font.cl/typefaces/violeta"
                        target="_blank">Quintana Type</a
                    > provides large headings and major focus points. The designed-for-accessibility,
                    highly functional yet funky sans serif typeface Inclusive Sans
                    by <a
                        href="https://www.oliviaking.com/inclusivesans/feature"
                        target="_blank">Olivia King</a
                    > provides all body text and smaller inline headings, with a
                    particular focus on readability. Typographic contrast was important
                    in coming to these choices.
                </p>
                <Image src={typeColor} alt="Brand guidelines for WGM." />
                <p class="process-description">
                    Next, I dove into creating a wireframes of low-fidelity
                    versions of a few potential pages for a new site, working in
                    black-and-white and with placeholder fonts and image boxes.
                    This passed first inspection by WGM partners without issue.
                </p>
                <p class="process-description">
                    Subsequently, I moved to high-fidelity prototyping in Figma,
                    designing most pages that will be deployed on the real
                    website post-development. I developed a componentized
                    approach based in high-contrast separation of content
                    blocks, in order to avoid a “floating” feeling through the
                    design — this is an informational site, so information
                    should be easy to find and take in. Additionally, since the
                    site will be built on top of the Wordpress CMS, which uses a
                    block-based editor in its core product, the componentized
                    approach will enable relatively easy creation of reusable
                    blocks across pages in the live site, thus enabling
                    page-to-page design consistency and predictability for the
                    user. As part of my prototyping process, I always keep good
                    CSS principles in mind, knowing both what’s possible with
                    styling on the web and how to achieve it, but also what
                    potential pitfalls exist when translating static designs
                    created in Figma to a living, responsive website that
                    follows web standards and keeps JavaScript bloat to an
                    absolute minimum.
                </p>
                <p class="process-description">
                    As a result, the prototypes presented here are the current
                    state of the overarching project, and the final result of my
                    capstone work. Site development and deployment will directly
                    follow. In development, one of the major challenges will be
                    integrating existing business-critical tools into the new
                    design, including:
                    <ul>
                        <li>
                            <a href="https://membee.com/" target="_blank"
                                >Membee</a
                            >
                            donor/member relations CRM, which houses information
                            on all of WGM’s learning community
                        </li>
                        <li>
                            PayPal payments processing - but thinking of
                            switching services, still in the research phase
                        </li>
                        <li>
                            Vimeo embeds linked to member records, so those who
                            sign up for classes can access class recordings
                            afterwards
                        </li>
                        <li>
                            New e-commerce functionality via WooCommerce
                            — currently the only online transactions WGM
                            processes are annual membership fees, done through
                            Membee with PayPal as payment processor
                        </li>
                    </ul>
                </p>
                <p class="process-description">
                    Otherwise, the plan is to develop the site with
                    <a href="https://picostrap.com/" target="_blank"
                        >Picostrap</a
                    > as a starter theme that I’ll tweak heavily to align with my
                    Figma designs — by starting with Picostrap, I’ll already have
                    some crucial performance considerations in place. In terms of
                    development process, I’ll rough out pages based on my Figma designs,
                    then share with a larger group of internal stakeholders for testing
                    and feedback, continue revising and feedback rounds a few times,
                    then launch. Target site launch is end of January 2026!
                </p>
            </div>
        </div>
        <div class="video" id="walkthrough">
            <p class="title">Project Walkthrough</p>
            <div class="images">
                <Image
                    class="video-embed"
                    src={videoSlide}
                    alt="Yellow textured slide with the word video in the center."
                />
            </div>
            <div class="text">
                <p class="video-description">FPO</p>
            </div>
        </div>
        <div class="references" id="references">
            <p class="title">References</p>
            <div class="images"></div>
            <div class="text">
                <p class="references-description">FPO</p>
            </div>
        </div>
    </main>
</div>

<style>
    #container {
        height: 100%;
    }
    main {
        padding: 0 1rem;
    }
    p {
        font-family: var(--f-diatype);
        font-weight: 500;
        font-size: 1.35rem;
        line-height: 1.35;
        color: var(--c-dkblue);
        ~ ul {
            margin: 0.5rem 0;
            font-family: var(--f-diatype);
            font-weight: 500;
            font-size: 1.35rem;
            line-height: 1.35;
            color: var(--c-dkblue);
            padding-inline-start: 2rem;
            list-style-type: "—  ";
            list-style-position: outside;
            li a:hover {
                color: var(--c-neonyellow);
            }
        }
        & a {
            text-decoration: underline dashed var(--c-neonyellow) 2px;
            text-underline-offset: 4px;
            &::after {
                content: " \1F86D";
            }
        }
        a:hover {
            color: var(--c-neonyellow);
        }
    }
    /* anchor links */
    .anchors {
        font-family: var(--f-fjalla);
        font-size: 1.5rem;
        color: var(--c-dkblue);
        padding: 2rem 1rem;
        border-block-end: 2px dashed var(--c-dkblue);
        > ul {
            padding: 1rem;
            display: flex;
            gap: 3rem;
            flex-direction: row;
            justify-content: center;
            > li {
                > a {
                    padding: 0.75rem;
                    border-radius: 12px;
                    border: 1px dashed var(--c-dkblue);
                    text-decoration: none;
                    &:hover {
                        background-color: var(--c-neonyellow);
                    }
                }
            }
        }
    }
    .intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        border-block-end: 2px dashed var(--c-dkblue);
        padding: 2rem 1rem;
    }
    /* entire section - full width */
    .problem,
    .concept,
    .data,
    .process,
    .video,
    .references {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "title title"
            "images text";
        gap: 2rem;
        border-block-end: 2px dashed var(--c-dkblue);
        padding: 2rem 1rem;
    }
    /* title column */
    .intro-header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        gap: 0.5rem;
        font-family: var(--f-fjalla);
        color: var(--c-dkblue);
    }
    .intro-title {
        font-size: 2rem;
        font-family: var(--f-fjalla);
        color: var(--c-dkblue);
    }
    .images {
        display: grid;
        gap: 1rem;
        grid-area: images;
    }
    /* title text */
    .title {
        font-family: var(--f-fjalla);
        font-size: 2rem;
        color: var(--c-dkblue);
        grid-area: title;
    }
    /* subtitle text */
    .intro-name,
    .intro-program,
    .intro-date {
        font-size: 1.5rem;
        font-family: var(--f-fjalla);
        color: var(--c-dkblue);
    }
    /* text area column right / row bottom */
    .intro-text {
        display: grid;
        gap: 1rem;
    }
    .text {
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(10, min-content);
        align-items: start;
        grid-area: text;
    }
</style>
